[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
peewee = "*"
pymysql = "*"
flask-jwt = "*"
flask-jwt-extended = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.7"
